body{
	background: #eee;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 75;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 4px 0 rgba(64, 64, 64, 0.16);
    transition: background-color 0.2s linear;
    height: 60px;
    overflow: hidden;
    background: #006098;
    color: #fff;
}

.logo {
    display: inline-block;
    width: 120px;
    height: 60px;
    float: left;
    background-image: url(../../Image/Public/logo-black.png);
    background-size: 100% auto;
    margin-right: 10px;
    line-height: 50px;
    font-size: 24px;
    color: #fd8607;
}

.nav li {
    width: 100px;
    text-align: center
}
.nav li.active {
    background: #227fc4
}
.nav li,
.nav a {
    display: inline-block;
    font-size: 18px;
    line-height: 60px;
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-bottom:30px;
}
/*首页*/

#container {
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.sections,.section {
    height:100%;
}
#container,.sections {
    position: relative;
}
.section {
    background-color: #000;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    color: white;
}
#section0 {
    background-image: url('../images/1.jpg');
}
#section1 {
    background-image: url('../images/2.jpg');
}
#section2 {
    background-image: url('../images/3.jpg');
}
#section3 {
    background-image: url('../images/4.jpg');
}

.pageTitle {
    padding: 10px 0 10px 20px;
    background: #fefefe;
    color: #666;
    font-size: 16px;
    font-weight: normal;
    margin-top: 80px;
}
.sign{
    position: absolute;
    top: 90px;
    right: 8%;
    background: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 4px;
}
.ico{
    margin-bottom:20px;
}
.form_title {
    font-size: 24px;
    color: #4c4c4c;
    margin-bottom: 30px;
    text-align: center;
}
.form-control {
    display: block;
    width: 98%;
    padding-left:2%;
    height: 36px;
    font-size: 16px;
    line-height: 34px;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.sign .btn{
    width: 100%;
    height:40px;
    line-height:40px;
    color:#fff;
    border-radius: 3px;
    background:#227fc4;
}
.agency{
    background:#fff;
    width:100%;
    padding:20px 0;
}
.agencyWrap,.teacherWrap{
    width:90%;
    text-align:center;
    margin:0 auto;
}
.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    line-height: 100%;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background: #227fc4;
    border: 1px solid transparent;
    font-family: "microsoft yahei","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.book {
    height: 50px;
    margin-top: 10px;
    border-radius: 25px;
    line-height: 50px;
    padding: 0 30px;
    font-size: 24px;
}
.agencyList,.teacherList{
    overflow:hidden;
    margin-top:30px;
}
.agencyList li,.teacherList li{
    float: left;
    width:25%;
    margin-bottom:20px;
    text-align:center;
}
.agencyList li img{
    width:150px;
    height:150px;
    display: inline-block;
    margin:0 auto;
}
.agencyList li p{
    margin-top:10px;
    text-align:center;
}
.teacher{
    width:100%;
    padding:20px 0;
    overflow: hidden;
    border-top:2px dotted #ddd;
    background: #fff;
    /*background: url(../images/blue.png);*/
    background-size:cover;
    background-position:50% 50%;
}
.seaout-man img{
    width:150px;
    height:150px;
    display: inline-block;
    margin:0 auto;
    border-radius: 70px;
}
.footerWrap{
    width:90%;
    margin:0 auto;
    height:200px;
}
.footer{
    background-color: #333333;
    color: #fff;
    padding: 30px 0 10px 0;
    background-color: #333333;
    color: #fff;
    padding: 30px 0 10px 0;
    height:150px;
    overflow: hidden
}
.footerDl,.gongzhonghao,.erweima{
    border-right: 1px solid #999999;
    margin-right: -1px;
    margin-bottom: 20px;
    width:18%;
    float:left;
    height:150px;
}
.d_10 {
    padding: 0 1%;
}
.footer dt,.footer dd{
    display: block
}
.footer dt {
    margin-bottom: 20px;
    font-weight: 600;
}
.wechat {
    width: 130px;
}
.foot-index{
    text-align:center;
    padding:30px 0;
    background: #fff
}
.foot-index a {
    padding: 0 12px;
}
.foot-index, .foot-index a {
    color: #999;
    font-size: 12px;
}
.c:after {
    content: "";
    display: table;
    clear: both;
}
.ml15{
    margin-left:15px;
}

.c {
    *zoom: 1;
    margin-top: 10px;
}

.T-m-left {
    float: left;
    width: 68%;
}

.T-m-right {
    float: right;
    width: 30%;
}

.T-m-classifynav {
    border: 1px solid #ddd;
    background: #fafafa;
}

.T-m-search {
    width: 338px;
    height: 40px;
    border: 1px solid #cecece;
    background: #fff;
}

.T-m-search div input {
    line-height: 20px;
    color: #999;
    width: 270px;
    height: 20px;
    font-size: 14px;
    margin: 10px 0px 0px 15px;
}

.T-m-search div a.T-m-sbut {
    background: url(http://staticresource.liuxue315.cn/images/T-pic-public1.png) no-repeat 0px -45px;
    width: 43px;
    height: 40px;
    display: inline-block;
}


/*ç­›é€‰*/

.T-m-screen {
    border: 1px solid #e4e4e4;
    padding: 0px 20px 20px 20px;
    background: #fff
}

.T-m-screen dl {
    margin-top: 20px;
    overflow: hidden;
}

.T-m-screen dl .T-m-s-title {
    width: 70px;
    float: left;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

.T-m-screen dl .T-m-s-cont {
    float: left;
    width: 85%;
}
.show_box{
    display: none
}
.T-m-screen dl .T-m-s-cont a {
    display: block;
    float: left;
    color: #333;
    font-size: 14px;
    margin-right: 8px;
}

.T-m-screen dl .T-m-s-cont a:hover,
.T-m-screen dl .T-m-s-cont a.hover {
    color: #df0616;
    text-decoration: none;
}

.T-m-screen dl .T-m-s-cont a.Unlimited {
    color: #fff;
    text-decoration: none;
    background: #227fc4;
    width: 50px;
    text-align: center;
}

.T-m-s-mroe {
    width: 50px;
    float: right;
}

.T-m-s-mroe a {
    color: #0757ff;
    text-decoration: none;
}

.T-m-s-mroe a:hover {
    color: #df0616;
    text-decoration: none;
}

.T-m-tx {
	background: #fff;
    font-size: 12px;
    line-height: 30px;
    color: #fd8607;
    padding: 10px 20px;
    border:1px solid #ddd;
    border-top:0;
}


/*æŽ’åº*/

.T-m-classifynav li {
    float: left;
    width: 33%;
    text-align: center;
    height: 60px;
}
.T-m-classifynav li a.hover{
    border-bottom: 2px solid #227fc4;
}

.T-m-classifynav li a {
    width: 100%;
    color: #227fc4;
    height: 60px;
    display: block;
    font-size: 16px;
    line-height: 60px
}

.T-m-list {
	background: #fff;
    -webkit-box-shadow: 0 0 5px #d9d9d9;
    -moz-box-shadow: 0 0 5px #d9d9d9;
    box-shadow: 0 0 5px #d9d9d9;
    min-height: 400px;
}

.T-m-reveal {
    overflow: hidden;
    padding-bottom: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}


/*.T-m-reveal:hover{background: #f5f5f5;}*/

.pt20 {
    padding-top: 10px;
}

.T-m-reveal .T-m-r-logo {
    float: left;
    width: 20%;
    text-align: center;
}

.T-m-reveal .T-m-r-cont {
    float: right;
    width: 75%
}

.T-m-reveal .T-m-r-logo h1 {
    padding-top: 25px;
}

.T-m-reveal .T-m-r-logo img {
    width: 100%;
}

.T-m-reveal .T-m-r-logo h2 {
    line-height: 20px;
    color: #333;
    font-size: 12px;
    font-weight: normal;
    padding-top: 10px;
}

.T-m-minibnt-g {
    line-height: 20px;
    background: #8dd601;
    font-size: 12px;
    padding: 0px 5px;
    -moz-border-radius: 3px;
    /* Gecko browsers */
    -webkit-border-radius: 3px;
    /* Webkit browsers */
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.T-m-minibnt-b {
    line-height: 20px;
    background: #02bde6;
    font-size: 12px;
    padding: 0px 5px;
    -moz-border-radius: 3px;
    /* Gecko browsers */
    -webkit-border-radius: 3px;
    /* Webkit browsers */
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.T-m-r-cont h1 {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    line-height: 30px;
    font-weight: normal;
}

.T-m-r-cont h1 .T-m-but-y {
    line-height: 30px;
    background: #fd8607;
    font-size: 14px;
    width: 80px;
    -moz-border-radius: 5px;
    /* Gecko browsers */
    -webkit-border-radius: 5px;
    /* Webkit browsers */
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
}

.T-m-r-cont p {
    font-size: 12px;
    color: #333;
    line-height: 30px;
}

.T-m-r-cont dl dt {
    float: left;
    width: 60px;
    font-size: 12px;
    color: #333;
    line-height: 30px;
}

.T-m-r-cont dl dd {
    float: left;
    width: 330px;
    font-size: 12px;
    color: #333;
    line-height: 30px;
}


/*æŸ¥è¯¢ä¸­ä»‹èµ„è´¨å£ç¢‘*/

.T-m-qic {
    border: 1px solid #e4e4e4;
    padding: 10px 20px 15px 20px;
    position: fixed;
    top: 130px;
    z-index: 10;
    background-color: #fff;
    text-align: center;
}

.T-m-qic h1,
.why_angency h1 {
    line-height: 35px;
    font-size: 18px;
    color: #227fc4;
    font-weight: normal;
    border-bottom: 1px dotted #ccc;
    text-align: center
}

input.zizhi {
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    width: 90%;
    height: 36px;
    font-size: 14px;
    line-height: 34px;
    color: #999;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.T-l-put {
    background: #227fc4;
    color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 40px;
    font-family: "microsoft yahei","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.T-m-qic p {
    margin-top: 10px;
}

.T-m-qic p .msg-box {
    margin: -4px 0 0 155px;
}

.T-m-aomething {
    margin-top: 20px;
    border: 1px solid #e6e6e6;
    padding: 20px;
}

.T-m-aomething h1 {
    text-align: center;
    font-size: 18px;
    color: #333;
    line-height: 30px;
    font-weight: normal;
}

.T-m-aomething p {
    text-indent: 2em;
    font-size: 14px;
    color: #666;
    line-height: 24px;
}

.T-m-aomething h2 {
    font-weight: normal;
    font-size: 14px;
    color: #666;
    line-height: 24px;
}

.T-m-line-b {
    border-bottom: 1px solid #e4e4e4;
}

.T-m-line {
    border: 1px solid #e4e4e4;
}

.pb5 {
    padding-bottom: 5px;
}

.why_angency {
    margin-top: 20px;
    background: #fff;
    padding: 10px 20px 15px 20px;
    ;
    border: 1px solid #E2E2E2;
}

.why_angency h3 {
    color: #333333;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    margin-top: 20px;
}

.why_angency p {
    color: #333333;
    margin-top: 20px;
}

.why_angency .trouble {
    margin-left: 20px;
}

.why_angency .trouble li {
    line-height: 24px;
    list-style-image: url(http://staticresource.liuxue315.cn/images/list.png);
}

.why_angency .trouble li a {
    color: #666666;
    font-size: 12px;
}

.why_angency .tuijian {
    width: 100%;
    height: 46px;
    display: block;
    color: #FFFFFF;
    background-color: #5AC0B2;
    text-align: center;
    line-height: 46px;
    margin: 10px 0 10px 0;
}


/*è¯„ä¼°*/

.T-m-estimate {
    background: url(http://staticresource.liuxue315.cn/images/T-pic23.png) no-repeat;
    width: 700px;
    height: 51px;
    margin: 0px auto;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height: 36px;
}

.T-m-estimate span {
    font-size: 18px;
}

.T-m-estimate-b {
    width: 700px;
    margin: 0px auto;
}

.T-m-estimate-c {
    border: 1px solid #e3e3e3;
    border-top: none;
    margin-left: 11px;
    padding: 20px 195px;
}

.T-m-estimate-c ul {
    line-height: 34px;
    font-size: 14px;
    color: #333;
}


/*****ç¾Žå›½å­¦æ ¡*************************************************************************************************/

.T-mg-nav {
    background: #f6f6f6;
    height: 50px;
}

.T-mg-nav li {
    float: left;
    margin-left: 20px;
    padding: 0px 15px;
    line-height: 50px;
    font-size: 14px;
    color: #333;
}

.T-mg-nav li a {
    display: block;
    width: 70px;
    height: 50px;
}

.T-mg-nav li:hover {
    background: #e4e4e4;
}


/*å¯¼èˆª*/

.head-img {
    color: #333;
}

.pictures {
    overflow: hidden;
    position: relative;
    line-height: 50px;
}

.pictures .pictures-img {
    font-size: 14px;
    color: #333;
    line-height: 50px;
    display: block;
    font-weight: normal;
}

.pictures .pictures-img img {
    line-height: 50px;
    margin-left: 5px;
}

.nav-next {
    cursor: pointer;
}

.nav-font {
    position: absolute;
    top: 45px;
    right: -15px;
    display: none;
    overflow: hidden;
    z-index: 8;
    width: 102px;
    z-index: 100;
    background: #e4e4e4;
}

.nav-font p {
    line-height: 36px;
    color: #333;
    padding-right: 10px;
    font-size: 14px;
    text-align: center;
}

.nav-font p:hover {
    background: #c80007;
    color: #fff;
}

.nav-font p a {
    color: #333;
    text-decoration: none;
    display: block;
}

.nav-font p a:hover {
    color: #fff;
    text-decoration: none;
    display: block;
}

.disnone {
    display: none;
}

.T-mg-day {
    border: 1px solid #e4e4e4;
    padding: 10px 20px 15px 20px;
    width: 303px;
    height: 332px;
}

.T-mg-hot {
    width: 400px;
    height: 357px;
}

.T-v-word-qr {
    background: #f6f6f6;
}

.T-v-word-qr div {
    float: left;
    width: 30%;
    text-align: center;
    line-height: 50px;
    color: #9e9e9e;
    font-size: 1em;
    cursor: pointer;
    font-size: 16px;
}

.T-v-word-qr div.hover {
    color: #c80007;
    font-size: 1em;
    border-bottom: 2px solid #fff;
    background: #fff;
    line-height: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: -1px;
}

.T-mg-hot-ul {
    padding: 0px 20px 20px 20px;
}

.T-mg-hot-ul dl {
    margin-top: 15px;
}


/*ç•™å­¦æŽ’åº*/

.T-m-pxs-top {
    background: #f6f6f6;
    line-height: 48px;
}

.T-m-pxs-top ul li {
    float: left;
    font-size: 14px;
    color: #666;
}

.T-m-pxs-top ul li a,
.T-m-pxs-top ul li span {
    padding: 0px 25px 0px 10px;
    display: block;
    color: #E00616;
}

.T-m-pxs-top ul li a {
    color: #666;
    text-decoration: none;
}

.T-m-pxs-top ul li a:hover {
    color: #fff;
    background: url(http://staticresource.liuxue315.cn/images/T-pic27.png) no-repeat right center #255298;
}

.T-m-listall {
    padding-bottom: 20px;
}

.T-m-listall li {
    width: 240px;
    height: 290px;
    float: left;
    margin: 20px 0px 0px 14px;
    width: 233px;
    border: 1px solid #f1f1f1;
}

.T-m-listall li h1 {
    position: relative;
}

.T-m-listall li h1 img {
    width: 148px;
    height: 134px;
    display: block;
    margin: 0 auto;
}

.T-m-listall li h1 em {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    z-index: 1;
    background: #000;
    filter: Alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.T-m-listall li h1 span {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 24px;
    line-height: 24px;
    color: #ffffff;
    font-size: 14px;
    z-index: 10;
    padding: 0px 5px;
    font-weight: normal;
}

.T-m-listall li h2 {
    margin-top: 10px;
}

.T-m-listall li h2 a {
    font-size: 18px;
    color: #333;
    line-height: 30px;
    font-weight: normal;
}

.T-m-listall li h2 a:hover {
    color: #c80007;
    text-decoration: none;
}

.T-m-listall li h3 {
    font-size: 14px;
    color: #3e3e3e;
    font-weight: normal;
    width: 233px;
    height: 20px;
    overflow: hidden;
}

.T-m-zan {
    background: url(http://staticresource.liuxue315.cn/images/T-pic-public1.png) no-repeat 0px -144px;
    line-height: 30px;
    padding-left: 24px;
    color: #3e3e3e;
    font-size: 14px;
}


/***æŽ’ååˆ—è¡¨é¡µ*******************************************************************************************************/

.T-list-top {
    border: 1px solid #e2e2e2;
    background: #f6f6f6;
    padding: 0px 0px 20px 20px;
    color: #333;
    font-size: 14px;
    line-height: 25px;
}

.T-l-flseen dt,
.T-l-flseen dd {
    float: left;
}

.T-l-flseen dt {
    width: 75px;
    margin: 15px 15px 0px 0px;
}

.T-l-flseen dd {
    width: 640px;
}

.T-l-flseen dd a {
    float: left;
    margin: 15px 15px 0px 0px;
    background: #5c7bad;
    color: #fff;
    padding: 0px 10px;
}

.T-l-flseen dd a.hover {
    background: #255298;
    color: #fff;
}

.T-lis-px li {
    float: left;
    line-height: 50px;
    font-size: 14px;
    color: #999;
}

.T-lis-px li select {
    margin-left: 10px;
    border: 1px solid #dcdcdc;
    line-height: 24px;
    height: 24px;
    padding: 0px 10px;
}

.T-list-cdl {
    padding: 20px;
    background: #f6f6f6;
    margin-top: 10px;
}

.T-list-cdl dt,
.T-list-cdl dd {
    float: left;
}

.T-list-cdl dt {
    width: 565px;
    margin-right: 20px;
}

.T-list-cdl dd {
    width: 125px;
}

.T-list-nbox {
    border: 1px solid #1f4b8d;
    width: 160px;
    height: 98px;
    float: left;
}

.T-list-nbox li {
    float: left;
}

.T-list-num {
    background: #1f4b8d;
    line-height: 98px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 60px;
    color: #fff;
}

.T-list-img img {
    width: 100px;
    height: 98px;
}

.T-list-scool {
    width: 400px;
    float: left;
}

.T-list-scool h1 {
    padding-left: 20px;
    font-weight: normal;
    line-height: 50px;
    font-size: 20px;
    color: #333;
}

.T-list-scool p {
    padding-left: 20px;
    line-height: 30px;
    font-size: 14px;
    color: #666;
}

.T-list-btn-bs {
    height: 24px;
    width: 125px;
    background: #1f4b8d;
    border: 1px solid #1f4b8d;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.T-list-btn-bx {
    height: 24px;
    width: 125px;
    border: 1px solid #1f4b8d;
    text-align: center;
    color: #1f4b8d;
    font-size: 14px;
    cursor: pointer;
}

.T-listnew {
    padding-bottom: 20px;
    padding-top: 10px;
}

.T-listnew h1,
.T-l-titlel {
    text-align: center;
    font-size: 18px;
    color: #333;
    line-height: 30px;
    font-weight: normal;
    padding: 10px 10px;
}

.T-listnew p {
    margin: 0px 20px 0px 20px;
    background: url(http://staticresource.liuxue315.cn/images/T-pic30.jpg) no-repeat left center;
    padding-left: 10px;
    font-size: 14px;
    color: #333;
    line-height: 26px;
}

.T-listnew p a {
    color: #333;
    text-decoration: none;
}

.T-listnew p a:hover {
    color: #1884e9;
    text-decoration: none;
}

.T-list-lbox {
    margin-top: 20px;
}

.T-list-lbox dt {
    float: left;
    width: 90px;
    text-align: right;
}

.T-list-lbox dt img {
    width: 50px;
    height: 46px;
}

.T-list-lbox dd {
    float: left;
    width: 180px;
    padding-left: 20px;
}

.T-list-lbnt {
    width: 158px;
    height: 44px;
    background: #fff;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    -moz-border-radius: 5px;
    /* Gecko browsers */
    -webkit-border-radius: 5px;
    /* Webkit browsers */
    border-radius: 5px;
}

.T-list-lylow {
    color: #f17f03;
    border: 1px solid #f17f03;
}

.T-list-lred {
    color: #fd6873;
    border: 1px solid #fd6873;
}

.T-list-lgreen {
    color: #279258;
    border: 1px solid #279258;
}

.T-list-lblu {
    color: #0c75a5;
    border: 1px solid #0c75a5;
}

.pb20 {
    padding-bottom: 20px;
}

.wid323 {
    width: 323px;
}

.wid190 {
    width: 190px;
}


/*è‰ºæœ¯ç•™å­¦*/

.c_head {
    width: 100%;
    height: 50px;
    background-color: #255298;
    line-height: 50px;
    color: #FFFFFF;
    font-size: 16px;
    text-indent: 20px;
}

.T-m-line {
    margin-bottom: 10px;
}

button.show_more {
    cursor: pointer;
    font-size: 13px;
    color: #ccc;
    border: 0;
    display: inline-block;
    line-height: 20px;
    background: none;
    margin-right: 10px;
    margin-left: 30px;
}


/*ä¸­ä»‹è¡¨å•*/

.T-m-estimate-c .n-default .n-left,
.T-m-estimate-c .n-default .n-right {
    top: 10px !important;
    left: 15px !important;
}

.T-f-tenter {
    text-align: center;
}

.T-pages-f a.hover {
    border-top: 2px solid #c80007;
    color: #b7241c;
    text-decoration: none;
}

.T-pages-f a,
.T-pages-f span {
    float: left;
    display: inline-block;
    line-height: 48px;
    font-size: 18px;
    color: #3e3e3e;
    border-top: 2px solid #dcdcdc;
    text-decoration: none;
    padding: 0px 8px;
}


/*详情页*/

.container_l {
    float: left;
    width: 68%;
}

.angency_infor {
    height: 220px;
}

.angency_wrap {
    overflow: hidden
}

.angency_infor li {
    float: left;
    width: 33%;
}

.angency_infor li P {
    width: 106px;
    margin-top: 90px;
    line-height: 24px;
    color: #333333;
}

.angency_infor li:nth-child(1) p {
    float: right;
    margin-right: 50px;
}

.angency_infor li:nth-child(3) p {
    float: left;
    margin-left: 20px;
}

.container_l .angency_det {
	background: #fff;
    border: 1px solid #E2E2E2;
    padding: 20px;
}

.container_l .angency_det .title {
    height: 22px;
}

.container_l .angency_det .title p {
    font-weight: bold;
    color: #333333;
    font-size: 18px;
    float: left;
}

.container_l .angency_det .title ul {
    float: right;
    margin-right: -70px;
}

.container_l .angency_det .title ul li {
    float: left;
    font-size: 12px;
    color: #666666;
    margin-right: 10px;
}

.container_l .angency_det .title ul li img {
    margin-right: 10px;
}

.container_l .angency_det .det_l {
    float: left;
    width: 30%;
    height: 158px;
}

.container_l .angency_det .det_l>img {
    width: 100%;
    max-height: 180px;
}

.container_l .angency_det .det_l p {
    color: #333333;
    font-size: 12px;
}

.container_l .angency_det .det_l p span {
    color: #df0616;
}

.container_l .angency_det .det_r {
    margin-top: 38px;
    float: right;
    width: 65%;
}

.stars {
    vertical-align: middle;
    line-height: 22px
}

.container_l .angency_det .det_r p {
    font-weight: bold;
    line-height: 32px;
}

.container_l .angency_det .det_r p span {
    margin-left: 10px;
    color: #666666;
    font-weight: normal;
}

.container_l .angency_det .det_r .float_l {
    width: 100%;
}

.container_l .angency_det .det_r .float_l em {
    line-height: 32px;
    font-weight: bold;
    margin-right: 30px;
}

.container_l .angency_det .det_r .float_l em span {
    margin-left: 10px;
    font-weight: normal;
    color: #666666;
}

.container_l .angency_det .order {
    float: right;
    margin-top:20px;
}

.container_l .angency_det .order li {
    float: left;
    width: 120px;
    height: 35px;
    margin-left: 17px;
}

.container_l .angency_det .order li a {
    display: block;
    text-align: center;
    line-height: 35px;
    color: #FFFFFF;
}

.container_l .angency_det .order li:nth-child(1) {
    background-color: #227fc4;
}

.container_l .angency_det .order li:nth-child(2) {
    background-color: #f80;
}

.container_l .angency_det_b {
    height: auto;
    margin-top: 20px;
    background: #fff;
}

.container_l .angency_det_b .angency_det_b_top {
    overflow: hidden;
    border: 1px solid #ddd;
}

.container_l .angency_det_b .angency_det_b_top li {
    height: 60px;
    display: block;
    line-height: 60px;
    width: 25%;
    float: left;
    background-color: #fafafa;
    box-sizing: border-box;
}

.container_l .angency_det_b .angency_det_b_top li a {
    display: block;
    color: #006098;
    font-size: 16px;
    text-align: center;
    line-height: 60px;
}

.container_l .angency_det_b .angency_det_b_top li.active,
.container_l .angency_det_b .angency_det_b_top li:hover {
    border-bottom:2px solid #227fc4;
}

.container_l .angency_det_b .angency_det_det {
    height: auto;
    padding: 20px 10px 0;
    border: 1px solid #E2E2E2;
    border-top: 0;
    box-sizing: border-box;
}

.container_l .angency_det_b .angency_det_det ul {
    width: 100%;
}

.container_l .angency_det_b .angency_det_det ul li {
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    display: none;
    margin-bottom: 15px;
}

.container_l .angency_det_b .angency_det_det ul li.active {
    display: block;
}

.container_l .angency_det_b .angency_det_det ul li h3 {
    font-size: 16px;
    color: #333333;
    font-weight: bold;
    position: relative;
    width: 88px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-bottom: 10px;
}

.container_l .angency_det_b .angency_det_det ul li h3 span {
    height: 6px;
    position: absolute;
}

.container_l .angency_det_b .angency_det_det ul li h3 span img {
    height: 6px;
}

.container_l .angency_det_b .angency_det_det ul li h3 span:nth-child(1) {
    left: 0;
    bottom: 13px;
}

.container_l .angency_det_b .angency_det_det ul li h3 span:nth-child(2) {
    right: 0;
    top: -13px;
}

.container_l .angency_det_b .angency_det_det ul li p {
    color: #333333;
}

.container_l .angency_det_b .angency_det_det ul li .order {
    float: left;
    line-height: 30px;
    margin: 8px 0 0 24px;
    color: #0686df;
}

.container_l .angency_det_b .angency_det_det ul li .consultant .consultant_head {
    width: 120px;
    height: 150px;
    float: left;
    position: relative;
}

.container_l .angency_det_b .angency_det_det ul li .consultant .consultant_head img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.container_l .angency_det_b .angency_det_det ul li .consultant .consultant_head p {
    position: absolute;
    width: 100px;
    height: 24px;
    top: 76px;
    left: 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.container_l .angency_det_b .angency_det_det ul li .consultant .consultant_det {
    width: 550px;
    height: 150px;
    float: left;
}

.container_l .angency_det_b .angency_det_det ul li .consultant .consultant_det h3 {
    color: #333333;
    font-weight: bold;
    width: 100%;
    font-size: 14px;
    text-align: left;
}

.container_l .angency_det_b .angency_det_det ul li .consultant .consultant_det p {
    color: #333333;
}

.container_l .angency_det_b .angency_det_det ul li .consultant .consultant_det a {
    margin-top: 10px;
    color: #158ef4;
    font-size: 12px;
    float: right;
}

.container_l .angency_det_b .angency_det_det ul li table {
    border: 0;
    width: 100%;
}

.container_l .angency_det_b .angency_det_det ul li table td {
    border: 1px solid #E2E2E2;
    height: 30px;
    text-align: center;
}


/*填写表单*/
.formItem {
	background: #fff;
	color:#333;
}
.formItem h3{
	border-bottom:1px solid #ddd;
	color:#227fc4;
	font-weight: normal;
	margin:0 20px;
    overflow: hidden;
}
.formItem h3 span{
    float:left;
}
.formContent{
	padding:20px;
}
.color666{
	color:#666;
	font-size:12px;
}
.line40{
    line-height: 40px
}
.location{
    color:#227fc4;
}
.mustItem{
	color:#f80;
	font-size:12px;
    line-height: 40px
}
.listItem{
	padding:10px 0;
	vertical-align: middle
}
.listItem .title{
	width:100px;
	text-align: right;
	display: inline-block;
}
.listItem .detail{
	display: inline-block;
	margin-left: 20px;
    vertical-align:middle;
}
.listItem .detail label{
	margin-right:20px;
}
.listItem input.radio{
	margin-right:5px;
}
.listItem input.text,.listItem select{
	width:200px;
    height: 27px;
    font-size: 14px;
    line-height: 25px;
    color: #999;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.listItem input.littleText{
	width:60px;
	margin-left:5px;
}
.boldTitle{
	font-weight: bold;
	font-size:16px;
	margin-right:5px;
    line-height: 40px
}
.mustIcon{
	color:#f80;
	margin-right:5px;
}
.submitForm{
	background: #227fc4;
    color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 30px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width:120px;
    font-family: "microsoft yahei","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.submitDiv{
	background: #fff;
	padding:30px 0;
	text-align: center
}
.submitInfo{
	color:#f80;
}
.divIcon{
    display: inline-block;
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.divIcon img{
    width: 100%
}
/*关于我们*/
.aboutUs{
    overflow: hidden;
    margin-top:30px;
}
.aboutUs-l{
    float:left;
    width:25%;
}
.aboutUs-r{
    float:right;
    width:73%;
}
.helpLeft-nav li {
    margin-bottom: 14px;
}
.helpLeft-nav li.active {
    border:1px solid #227fc4;
}
.navBtn {
    border: 1px solid #e4e4e4;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #666;
    text-align: center;
    display: block;
    text-decoration: none;
    cursor: pointer;
}
.helpLeft-nav li.active a{
    color:#227fc4;
}
.helpRight-main {
    color: #666;
}
.main-title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dotted #f4f4f4;
    font-size: 16px;
}
.main-content {
    padding-top: 30px;
    padding-bottom: 50px;
}
.aboutUsbanner{
    width:100%;
    height: 300px;
    margin-top:60px;
}
.successPage p{
    text-align: center;
    line-height: 40px;
    font-size:18px;
}
.aboutUsbanner img{
    width:100%;
    height:100%;
}
.successIcon{
    width:500px;
    height:500px;
    margin:50px auto 0 auto;
}
.successIcon img{
    width: 100%
}
.successBtn{
    width:200px;
    height: 50px;
    margin-top: 10px;
    border-radius: 25px;
    line-height: 50px;
    padding: 0 30px;
    font-size: 24px;
    margin:20px auto;
    display: block;
}
.miaoshu{
    font-size:16px;
    margin-top:5px;
}
.gu_selectcity {
    position: relative;
}
.gu_city {
    width: 180px;
    padding:0 10px;
    height: 27px;
    font-size: 14px;
    line-height: 25px;
    color: #999;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    overflow: hidden;
}
.gu_city span {
    background: url(../images/gu_sanjiao_gray.png) no-repeat right center;
    display: block;
}
.area_school {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #e1e2e1;
    text-align: left;
    width: 745px;
    padding: 10px 0 10px 20px;
    z-index: 9999;
    overflow: hidden;
    left: 100px;
    margin-top: 1px;
}
.area_school li {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    margin: 0 0 10px 0;
}
.area_school li span {
    font-family: "Arial";
    color: #369e95;
    font-size: 14px;
    padding: 0 15px 0 0;
}
.area_school li em a {
    padding: 5px;
    vertical-align: top;
    margin-right: 10px;
    font-size: 14px;
    color: #606060;
    font-style: normal;
}
.area_school ul {
    width: 49%;
    overflow: hidden;
    float: left;
}